<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>
    <header> 
    

    
        
        <%- include('./partials/nav.ejs') %> 
       

            <div class="space">


            </div>
        
            <div>
                <form id="formzz" action="/">
                    <input type="text" name="text" placeholder="Search here">
                    <i id="iconz" class="fa fa-search" aria-hidden="true"></i>
            
                </form>
            </div>


                <div class="text">
                    <h2>Satisfy your taste with <span> cookIT</span> </h2>
                    
                </div>
           
       
        
  

    <section>
        <div class="tag">
            <button type="submit"><a href="/all">All Recipes</a> </button>
            
        </div>


        <div class="content">
            <!-- <button type="submit">New Recipes</button> -->

            <div class="container">

                
                    <% if (recipes.length > 0) { %>
                        
                     <% recipes.forEach(recipe => { %>
                      
                        <div class="cards">
                            <a href="/get/<%= recipe._id %> "> 
                    <img src="/uploads/foodImage<%= recipe.foodImage %> " alt="pic">

                    <h2><%= recipe.recipeName %> </h2>
                    <p><%= recipe.cookName %> </p>
                </a>

                </div>

                
                    <% }) %>
                    <% }  else { %>  
                        <p><%= "No posts to display currently" %> </p>
            
                        <% } %>  %> 
                
    
              </div>  
        </div>

        <div class="tag">
            <button type="submit"><a href="/all">View More</a> </button>
            
        </div>




        

    </section>

    


</header>
   <%- include('./partials/footer.ejs') %> 

    
</body>
</html>