<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>
    <header>
        
        <%- include('./partials/navv.ejs') %> 
       


        
        
    <section>
        <div class="tag">
            <button type="submit">All Recipes</button>
            <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i><a href="/form">Add New Recipes</a></button>
        </div>


        <div class="content">
            <button type="submit">Recipes</button>

            <div class="container">

                
                    <% if (docs.length > 0) { %>
                     <% docs.forEach(doc => { %>
                      
                        <div class="cards">
                            <a href="/get/<%= doc._id %> "> 
                    <img src="/uploads/foodImage<%= doc.foodImage %> " alt="pic">

                    <h2><%= doc.recipeName %> </h2>
                    <p><%= doc.cookName %> </p>

                </a>
                </div>

                
                    <% }) %>
                    <% }  else { %>  
                        <p><%= "No recipes for this category to display currently" %> </p>
            
                        <% } %>  %> 
                
    
              </div>  
        </div>
    </section>

</header> 

   <%- include('./partials/footer.ejs') %> 

    
</body>
</html>