<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>
    <header>
        
        <%- include('./partials/navv.ejs') %> 
       
  
    <section>
       
        <div class="content">
            <button type="submit">CHEFS</button>

            <div class="container2">

                    <% if(chefs.length > 0) { %>
                     <% chefs.forEach(profile => { %>
                      
                        <div class="cards">
                    
                            <a href="/chefs/<%= profile._id %> ">
                                
                            <h2><%= profile.userName %> </h2>
                            <p><%= profile.fullName %> </p>
                        </a>
                        </div>

                
                        <% }) %>
                        <% }  else { %>  
                        <p><%= "No chefs to display currently" %> </p>
            
                        <% } %>  %> 
                
    
              </div>  
        </div>
    </section>

</header> 


   <%- include('./partials/footer.ejs') %> 

    
</body>
</html>