<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>

    <header>
        

        <%- include('./partials/nav.ejs') %> 

        <div><i id="iconss" class="fa fa-heart"></i></div>
    <main>
        <div> <img src="/uploads/foodImage<%= recipeData.foodImage %> " alt="pic"></div>



        <section class="profile-main" >
            <h2><%= recipeData.recipeName %> </h2>
            <div class="profile">
                
           
            <div class="rating">

                <i id="icon" class="fa fa-clock" aria-hidden="true"></i>
                <p> <%= recipeData.time %>  <br>Cooking   </p>
                 
            </div>

    
            <div class="rating">
                <i id="icon" class="fa fa-star" aria-hidden="true"></i>
                <p> 30  <br>ratings  </p>             
            </div>
              

            

            <div class="rating">
                <i id="icon" class="fa fa-fire" aria-hidden="true"></i>
                <p> <%= recipeData.level %>  <br>Level recipes</p>
            </div>

         </div>


            <div class="name"><p> By <%= recipeData.cookName %> </p></div>
        </section>

        <section class="sect">
            <div class="main-text">
                <h2>Ingredients</h2>
                <h2 class="text3">Instructions</h2>
            </div>

        </section>
       

        <section class="allIngre">
            <div class="ingre">
                <ol>
                    <li><%= recipeData.ingredients%> </li>
                </ol>
                <!-- console.log(recipeData.ingredients) -->
               
            </div>

            <div class="instru">
                <ol>
                    <li><%= recipeData.instruction %> </li>
                </ol>
            </div>
        </section>

        
    

        <div class="tag">
            <button id="tags" type="submit">comment </button>
            
        </div> 

        <section id="commentss">
            <div id="cardzz">
                <a href="/gett/<%= recipeData._id %> "> 
                <h2><%= recipeData.name %> </h2>
                <p><%= recipeData.message %> </p>
                </a>
            </div>

        </section>


        <section id="contactss">
            
            <div id="contact">
                <h3>Reviews: 
                    <p>Let us know what you think</p>
                    <p>Your concerns are our priority</p>
                </h3>


                </div>
                <div id="container-form">

                <h3>Reviews</h3>
                <form id="form-input" action="/post" method ="post" enctype="multipart/form-data">
                    <input type="text" name="name" id="name" placeholder="FullName" required>
                    <textarea title="message" name="message" placeholder="write here" required></textarea>
                    <label> Your rating?</label><br>
        
                    <span class="star-rating">
                    <input type="radio" name="rating1" value="1"><i class="fa-regular fa-star"></i>
                    <input type="radio" name="rating1" value="2"><i class="fa-regular fa-star"></i>
                    <input type="radio" name="rating1" value="3"><i class="fa-regular fa-star"></i>
                    <input type="radio" name="rating1" value="4"><i class="fa-regular fa-star"></i>
                    <input type="radio" name="rating1" value="5"><i class="fa-regular fa-star"></i>
                    </span>

                </br>
                

                    <button type="submit" value="Submit"> Send </button>

                </form>
            </div>

        </main>

    </section>


</header>

     <footer>
        <p>Designed by Racheal</p>
    </footer>

    <script src="../site.js"></script>
</body>
</html>













