<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>

    <header>
        

        <%- include('./partials/nav.ejs') %> 

        <div><i id="iconss" class="fa fa-heart"></i></div>
    <main>
         <img src="/uploads/foodImage<%= recipeData.foodImage %> " alt="pic">



        <section class="profile-main" >
            <h2><%= recipeData.recipeName %> </h2>
            <div class="profile">
                
           
            <div class="rating">

                <i id="icon" class="fa fa-clock" aria-hidden="true"></i>
                <p> <%= recipeData.time %>  <br>Cooking   </p>
                 
            </div>

    
            <div class="rating">
                <i id="icon" class="fa fa-star" aria-hidden="true"></i>
                <p> 30  <br>ratings  </p>             
            </div>
              

            

            <div class="rating">
                <i id="icon" class="fa fa-fire" aria-hidden="true"></i>
                <p> <%= recipeData.level %>  <br>Level recipes</p>
            </div>

         </div>


            <div class="name"><p> By <%= recipeData.cookName %> </p></div>
        </section>

        <section class="sect">
            <div class="main-text">
                <h2>Ingredients</h2>
                <h2 class="text3">Instructions</h2>
            </div>

        </section>
       

        <section class="allIngre">
            <div class="ingre">
                
                <% recipeData.ingredients.forEach(Data => { %>
                    <% Data.split(',').forEach(b => { %> 
                        <li><%= b %> </li>
                        <% }) %>
                <% }) %>
                
                
                <!-- console.log(recipeData.ingredients) -->
               
            </div>

            <div class="instru">
                
                    
                    <% recipeData.instruction.forEach(Data => { %>
                        <% Data.split(',').forEach(b => { %>
                            <ol>
                            <li><%= b %> </li>
                        </ol> 
                            <% }) %>
                    <% }) %>


                     
                   
                    
                </ol>
            </div>
        </section>

        
    

        <div class="tag">
            <button id="tags" type="submit">comment </button>
            
        </div> 



        <section id="commentss">
            <h2>All reviews</h2>
                <div class="cardzz">
                    
                    <% if (review.length > 0) {%> 
                        <% review.reverse().forEach(rev => { %> 
                            <div class="rev-details">
                                <h3><%= rev.name %> </h3>
                                <br>
                                <p><%= rev.message %> </p>
                                
                            <div class="ratingss">
                                <% let stars = rev.rating1 %> 
                                
                                <% for( let i = 0; i < stars; i++ ) { %>
                                    <i class="fas fa-star"></i>
                                <% } %> 
                            </div>

                        </div>
                        <% }) %> 

                        <% }  else { %>  
                            <p><%= "No reviews to display currently" %> </p>
                
                            <% } %>   
                    
                </div>
        </section>




        <section class="" id="conts">
            
            <div id="contact">
                <h3>Reviews: 
                    <p>Let us know what you think</p>
                    <p>Your concerns are our priority</p>
                </h3>


                </div>
                <div id="container-form">

                
                <form id="form-input" action="/com/<%= recipeData._id %>" method ="post">
                    <input type="text" name="name" id="name" placeholder="FullName" required>
                    <textarea title="message" name="message" placeholder="write here" required></textarea>
                    <label> Your rating?</label><br>
        
                

                    <select id="star-rating" name="rating1">
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                        
                      </select>

                </br>
                
                    <input type="text" style="visibility: hidden;"name="recipe_id" value="<%=recipeData._id %>">
                    <button type="submit" value="Submit"> Send </button>

                </form>
            </div>

        </main>

    </section>


</header>

     <footer>
        <p>Designed by Racheal</p>
    </footer>

    <!-- <script src="../site.js"></script> -->
    <script src="../sittes.js"></script>
</body>
</html>













