<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>
    <header>
        
        <%- include('./partials/nav.ejs') %> 
       

</header>
        <section class="image-c">
           
                <div class="text">
                    <h2>Carrot & Orange Smoothie</h2>
                    <button><a href="#">View Menu</a></button>
                </div>
           
        </section>
        
  

    <section>
        <div class="tag">
            <button type="submit">All Recipes</button>
            <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i><a href="/form">Add New Recipes</a></button>
        </div>


        <div class="content">
            <button type="submit">Top Recipes</button>

            <div class="container">

                
                    <% if (recipess.length > 0) { %>
                     <% recipess.forEach(recipe => { %>
                      
                        <div class="cards">
                            <a href="/get/<%= recipe._id %> "> 
                    <img src="/uploads/foodImage<%= recipe.foodImage %> " alt="pic">

                    <h2><%= recipe.recipeName %> </h2>
                    <p><%= recipe.cookName %> </p>
                </a>

                </div>

                
                    <% }) %>
                    <% }  else { %>  
                        <p><%= "No posts to display currently" %> </p>
            
                        <% } %>  %> 
                
    
              </div>  
        </div>
    </section>

    <section class="last-content">
        <div class="text2">
            <h2>Categories</h2>
        </div>

        <div class="lower-btn">
            <button type="submit">BreakFast</button>
            <button type="submit">Lunch</button>
            <button type="submit">Supper</button>
            <button type="submit">Dessert</button>
            <button type="submit">Juice</button>
            <button type="submit">Low Calories</button>
            
        </div>
    </section>


   <%- include('./partials/footer.ejs') %> 

    
</body>
</html>