<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>
    <header> 
    

    
        
        <%- include('./partials/navv.ejs') %> 
       

            


                <div class="text">
                    <h2>Satisfy your taste with <span> cookIT</span> </h2>
                    
                </div>
           
       
        
  

    <section>
        <div class="tag">
            <button type="submit"><a href="/all">Popular Recipes</a> </button>
            <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i><a href="/form">Add New Recipes</a></button>
        </div>


        <div class="content">
            <button type="submit">New Recipes</button>

            <div class="container">

                
                    <% if (recip.length > 0) { %>
                        
                     <% recip.forEach(recipe => { %>
                      
                        <div class="cards">
                            <a href="/get/<%= recipe._id %> "> 
                    <img src="/uploads/foodImage<%= recipe.foodImage %> " alt="pic">

                    <h2><%= recipe.recipeName %> </h2>
                    <p><%= recipe.recipe_id %> </p>
                    <p><%= recipe.message %> </p>
                    <p><%= recipe.rating1%> </p>
                    
                </a>

                </div>

                
                    <% }) %>
                    <% }  else { %>  
                        <p><%= "No posts to display currently" %> </p>
            
                        <% } %>  %> 
                
    
              </div>  
        </div>

        <div class="tag">
            <button type="submit"><a href="/all">View More</a> </button>
            
        </div>




        
    </section>


</header>

<article>
    <div class="about">

    </div>
</article>
   <%- include('./partials/footer.ejs') %> 

   <script src="../site.js"></script>
   <script src="../sittes.js"></script>

</body>
</html>