<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>

    <header>
        

        <%- include('./partials/nav.ejs') %> 



        <main class="main-pic">
            <div class="text4"><h2><%= info.firstName + info.lastName %> </h2>
            <h3><%= info.email %> </h3></div>

            <div class="pic">
                <img src="/avatar/avatar<%= info.avatar %> " alt="pic">
            </div>
        </main>






        <section>
            <div class="tag">
                <button type="submit"><a href="/">All Recipes</a> </button>
                <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i><a href="/form">Add New Recipes</a></button>
            </div>


            <div class="contents">
                <button type="submit">Top Recipes</button>
                <div class="containers">
                    
        
                    <div class="cardss">
                        <img src="images/imag3.jpg" alt="pic" srcset="">
                        
                        <button type="submit">View Recipes</button>
                    </div>
        
                
            </div>
            
            </div>
        </section>
        
</header>
    <%- include('./partials/footer.ejs') %> 

</body>
</html>