<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>

    <header>
        

        <%- include('./partials/navv.ejs') %> 



        <main class="main-pic">
            
            <div class="pics">
                <img src="/avatar/avatar<%= info.avatar %> " alt="pic">

                <div class="text4">
                    <h2><%= info.fullName %> </h2>
                    <h3><%= info.email %> </h3></div>

            </div>
        </main>

        <div class="container-form">
           <form action="/avatar" method="post" enctype="multipart/form-data">
            <div class="full">
                <label for="" style="color: aliceblue;">Upload Profile Image</label>
            <input type="file" name="avatar" id="" placeholder="Upload Image">
        </div>
            <div class="full">
                <button type="submit" value="Submit">Add Image</button></div>
        
           </form> 
        </div>




        <section>
            <div class="tag">
                <button type="submit"><a href="/">All Recipes</a> </button>
                <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i><a href="/form">Add New Recipes</a></button>
            </div>


            <div class="contentz">
                <div class="container">

                
                    
                </div>

                
                    
                
    
              </div>  
        </div>
            
            </div>
        </section>
       
        <div class="tag">
            <button id="tags" type="submit">Upload Ingredient</button>
            
        </div> 
        
        <main class="main-form">
            <div><h2>Add product</h2></div>
    
            <div class="container-form">
                
            <form id="forms" action="/post" method="post" enctype="multipart/form-data">
    
                <div class="full">
                <label for="">Ingredient Name</label>
                <input type="text" name="recipeName" id="" required>
            </div>
    
            
    
                <div class="full">
                <label for="">Category</label>
                <select id="category" name="category">
                    <option value="spices">Spices</option>
                    <option value="cereals">Cereals</option>
                    <option value="dietary">dietary</option>
                    <option value="meat">Meat/eggs</option>
                    <option value="canedFood">Caned food</option>
                    <option value="drink">Dry</option>
                  </select></div>
               
                  <div class="full">
                    <label for="">Contact</label>
                    <input type="tel" name="tel" id="" required>
                </div>
                
                <div class="full">
                    <label for="">Price</label>
                    <input type="number" name="price" id="" placeholder="Amount">
                </div>
        
                <div class="full">
                <input type="file" name="foodImage" id="" placeholder="Upload Image">
            </div>

            
                <div class="full">
                <button type="submit" value="Submit">Add Ingredients</button></div>
    
    
            </form>
    
        </div>
        </main>
</header>
    <%- include('./partials/footer.ejs') %> 

</body>
</html>