<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 


<body>
    <header>
        
        <%- include('./partials/nav.ejs') %> 
       

        <div class="space">


        </div>
    
        <div>
            <form id="formzz" action="" method="">
                <input type="text" id="search" name="text" placeholder="Search here">
                <i id="iconz" class="fa fa-search" aria-hidden="true"></i>
        
            </form>
        </div>
        
        
    <section>
        <div class="tag">
            <button type="submit">All Recipes</button>
            <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i><a href="/form">Add New Recipes</a></button>
        </div>


        <div class="content" id="main">
            <button type="submit">Recipes</button>

            <div class="container">

                
                    <% if (recip.length > 0) { %>
                     <% recip.forEach(doc => { %>
                      
                        <div class="cards">
                            <a href="/get/<%= doc._id %>"> 
                    <img src="/uploads/foodImage<%= doc.foodImage %>" alt="pic">

                    <h2><%= doc.recipeName %> </h2>
                    <p><%= doc.cookName %> </p>

                </a>
                </div>

                
                    <% }) %>
                    <% }  else { %>  
                        <p><%= "No posts to display currently" %> </p>
            
                        <% } %>  %> 
                
    
              </div>  
        </div>
    </section>

</header> 

   <%- include('./partials/footer.ejs') %> 

   <script src="../site.js"></script>
    <!-- <script src="../sittes.js"></script> -->
    
</body>
</html>